.register-container {
    max-width: 300px;   
    padding-top: 20px;
    text-align: center;
    margin:auto;
  }

  .field{
      text-align: left;
  }

  .cardTitle{
      margin-bottom: 15px;
  }

  .register-field{
    margin-top : 20px;
  }
  mat-form-field{
    width: 100%;
}
