<mat-card class="register-container">

  
<div class = cardTitle>
    Register a new account
</div>


    <form class="register-form" [formGroup]="registerForm" (submit)="onSubmit()">

       
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="this.registerForm.get('email').invalid">{{this.getErrorMessage()}}</mat-error>
          </mat-form-field>
  
      <mat-form-field  >
          <input matInput placeholder="Username" formControlName="username" required>
        </mat-form-field>
      


        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" (input)="onPasswordInput()" required>
            <mat-error *ngIf="this.registerForm.get('password').hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="this.registerForm.get('password').hasError('minlength')">Password must have at least {{minPw}} characters</mat-error>
          </mat-form-field>
        
          <mat-form-field>
            <input matInput type="password" placeholder="Confirm password" formControlName="password2" (input)="onPasswordInput()" required>
            <mat-error *ngIf="this.registerForm.get('password2').hasError('required')">Please confirm your password</mat-error>
            <mat-error *ngIf="this.registerForm.get('password2').invalid && !this.registerForm.get('password2').hasError('required')">Passwords don't match</mat-error>
          </mat-form-field>
          
  
      <div class="register-field"><button type="submit" mat-raised-button color="primary" [disabled]="this.registerForm.invalid">Register</button></div>
      
  
    </form>
  </mat-card>
  