.register-container {
    max-width: 300px;   
    padding-top: 20px;
    text-align: center;
    margin-left: 150px;
  }

  .field{
      text-align: left;
  }

  .cardTitle{
      margin-bottom: 15px;
  }

  .register-field{
margin-top : 15px;
  }

