.computer-container {
    max-width: 300px;   
    padding-top: 20px;
    text-align: center;
    margin-left: 150px;
  }

  .field{
      text-align: left;
      width: 100%;
  }

  .cardTitle{
    margin-bottom: 15px;
}

.computer-field{
margin-top : 15px;
}

mat-form-field{
    width: 100%;
}