<div class="edit-form">

    <mat-card class="computer-container">

        <div class = cardTitle>
      Update computer
        </div>

  <form class="field" [formGroup]="computerEditForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [matDatepicker]="introductionPicker" placeholder="Introduction" formControlName="introduced">
          <mat-datepicker-toggle matSuffix [for]="introductionPicker"></mat-datepicker-toggle>
          <mat-datepicker #introductionPicker></mat-datepicker>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput [matDatepicker]="discontinuationPicker" placeholder="Discontinuation" formControlName="discontinued">
          <mat-datepicker-toggle matSuffix [for]="discontinuationPicker"></mat-datepicker-toggle>
          <mat-datepicker #discontinuationPicker></mat-datepicker>
        </mat-form-field>
         
        <mat-form-field>
            <mat-label>Select a company</mat-label>
            <mat-select placeholder="Select a company" name="company" formControlName="companyId">
                <mat-option *ngFor="let company of this.companies" [value]="company.id">
                  {{company.name}}
                </mat-option>
              </mat-select> 
        </mat-form-field>
      
        <button class="computer-field" type="submit" [disabled]="!computerEditForm.valid" mat-raised-button color="primary">Update</button>
  </form>
</mat-card>
</div>
