.login-container {
    max-width: 300px;   
    padding-top: 20px;
    text-align: center;
    margin:auto;
  }

  .field{
      text-align: left;
  }

  .cardTitle{
    margin-bottom: 15px;
}

.login-field{
margin-top : 25px;
}
mat-form-field{
  width: 100%;
}

.optButtons{
  text-align: left;
  font-size: 12px;
}
.optLink{
  margin-top:5px;
}

.optLink:hover{
  text-decoration: underline; 
  cursor: pointer;
}
