<div class="app-company-filters">
  <span class="searchbar">
  
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Name, company...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    
  </span>
  
  <span class="button">
    <button mat-raised-button color="primary" routerLink="/companies/add" routerLinkActive="active">Add Company  <mat-icon>work</mat-icon></button>
  </span>
  
  <span class="button">
    <button mat-raised-button color="warn" (click)="toggleDelete()">Delete Company  <mat-icon>delete_forever</mat-icon></button>
  </span>
</div>
