<div id="app-computer-filter">

  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <span class="searchbar">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Name, company..." formControlName="filter">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </span>
  
    <span class="filter">
      <button mat-raised-button type="submit" color="primary">filter  <mat-icon>filter_center_focus</mat-icon></button>
    </span>
  </form>

  <span class="button">
    <button mat-raised-button color="primary">Add Computer  <mat-icon>add_to_queue</mat-icon></button>
  </span>

  <span class="button">
    <button mat-raised-button color="accent">Edit Computer  <mat-icon>edit</mat-icon></button>
  </span>

  <span class="button">
    <button mat-raised-button color="warn">Delete Computer  <mat-icon>delete_forever</mat-icon></button>
  </span>
  
</div>
